body {
  font-family: Arial;
  margin: 0;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  padding: 30px;
  text-align: center;
}

h2 {
  color: #38bdf8;
}

input, select {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.btn {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin: 10px;
  display: inline-block;
}

.btn:hover {
  background: #0ea5e9;
}

.green {
  background: #22c55e;
}